tests/integration/testdata/buildcmd/language-extensions-statemachine/statemachines/PaymentProcessing/definition.asl.json
{
  "Comment": "Payment processing workflow",
  "StartAt": "ValidatePayment",
  "States": {
    "ValidatePayment": {
      "Type": "Task",
      "Resource": "${WorkerFunctionArn}",
      "Parameters": {
        "action": "validate_payment",
        "payload.$": "$.payment"
      },
      "Next": "ChargeCard"
    },
    "ChargeCard": {
      "Type": "Task",
      "Resource": "${WorkerFunctionArn}",
      "Parameters": {
        "action": "charge",
        "payload.$": "$.payment"
      },
      "Next": "SendReceipt"
    },
    "SendReceipt": {
      "Type": "Task",
      "Resource": "${WorkerFunctionArn}",
      "Parameters": {
        "action": "receipt",
        "payload.$": "$.payment"
      },
      "End": true
    }
  }
}
