tests/integration/testdata/buildcmd/language-extensions-statemachine/statemachines/ShipmentTracking/definition.asl.json
{
  "Comment": "Shipment tracking workflow",
  "StartAt": "CreateShipment",
  "States": {
    "CreateShipment": {
      "Type": "Task",
      "Resource": "${WorkerFunctionArn}",
      "Parameters": {
        "action": "create_shipment",
        "payload.$": "$.shipment"
      },
      "Next": "TrackShipment"
    },
    "TrackShipment": {
      "Type": "Task",
      "Resource": "${WorkerFunctionArn}",
      "Parameters": {
        "action": "track",
        "payload.$": "$.shipment"
      },
      "Next": "ConfirmDelivery"
    },
    "ConfirmDelivery": {
      "Type": "Task",
      "Resource": "${WorkerFunctionArn}",
      "Parameters": {
        "action": "confirm_delivery",
        "payload.$": "$.shipment"
      },
      "End": true
    }
  }
}
